<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103670211209-ec4bla918lh7sri1ktg658s01u7vki92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103670211209-ec4bla918lh7sri1ktg658s01u7vki92</string>
	<key>API_KEY</key>
	<string>AIzaSyBfLMK-nqxgeLUUuKOiuNiFOX5-mFW3p9E</string>
	<key>GCM_SENDER_ID</key>
	<string>103670211209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.com.unity.template.mobile2D</string>
	<key>PROJECT_ID</key>
	<string>kaist-lang-learner</string>
	<key>STORAGE_BUCKET</key>
	<string>kaist-lang-learner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103670211209:ios:5f3dd5d097009affc19c58</string>
</dict>
</plist>